name: Developer_Branch_CI
on: [workflow_call]
jobs:
  CI_Steps:
   runs-on: self-hosted
   steps:
     - name: Checkout
       uses: actions/checkout@v6

     - name: Unit Tests
       run: echo npm test

     - name: Integration Tests
       run: echo Running Integration Tests

     - name: SAST Scans
       run: echo Running SAST Scans

     - name: Detect Secrets in source code
       run: echo Detecting Secrets in source code

     - name: Code Quality
       shell: bash
       run: sonar-scanner -Dsonar.host.url=http://sonarqube-int.kdevops.online:9000 -Dsonar.login="${SONAR_USER}" -Dsonar.password="${SONAR_PASS}" -Dsonar.projectKey=expense-backend

     - env:
         SONAR_USER: ${{ secrets.SONAR_USER }}
         SONAR_PASS: ${{ secrets.SONAR_PASS }}
       run: echo Running Code Quality Analysis



