name: Developer_Branch_CI
on: [workflow_call]
jobs:
  CI_Steps:
   runs-on: self-hosted
   steps:
     - name: Checkout
       uses: actions/checkout@v6

     - name: Unit Tests
       run: echo npm test

     - name: Integration Tests
       run: echo Running Integration Tests

     - name: SAST Scans
       run: echo Running SAST Scans

     - name: Detect Secrets in source code
       run: echo Detecting Secrets in source code

     - name: Code Quality
       run: echo Code Quality


